RAG _ Index.json
{
  "name": "RAG _ Index",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1GIkRZJNZ4Dw_xJp5zIqwJzGHR4ifxIkJ",
          "mode": "list",
          "cachedResultName": "TEST_RAG_HR_DATA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GIkRZJNZ4Dw_xJp5zIqwJzGHR4ifxIkJ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e992b531-a68a-4cc5-9e67-857c0880373c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "M5yJpFKklp8T14Pd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "0e477324-3d55-4515-8ef7-54e75668194c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "M5yJpFKklp8T14Pd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "TEST_RAG_HR_DATA"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "3fc94c6c-b7aa-4325-9abe-91a59029a1e3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "52ZL0rwK0KIkQByR",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        224
      ],
      "id": "fee27869-fac8-4a89-9765-4a9ac785450a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        432
      ],
      "id": "426fa3cf-b13f-4f86-a3a6-d2a6f4415e99",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        240
      ],
      "id": "a928d2fc-7a17-4957-867a-fb4c9c32e9de",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "64uqKGi3fmthlk7u",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d6f89142-62b8-4880-a26f-0c0c71410f12",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8945e1676b80d29b396e19cfc031fd1282160af6898890d6372b6d47bd9e91f"
  },
  "id": "o2sgsPUDGVIZTllL",
  "tags": []
}